<head>

  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
        rel = "stylesheet">
  <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</head>


<div *ngIf="iserror"  class="error" >
  <h2>{{errorMessage}}</h2>
</div>
<form [formGroup]="userInputForm" (ngSubmit)="onSubmit()" class="form-horizontal">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Employee Data</h6>
    </div>
  </div>

  <div class="panel-body">
    <div class="form-group" [ngClass]="{'has-error' : userInputForm.get('fname').errors
    && (userInputForm.get('fname').touched || userInputForm.get('fname').dirty) }">
      <label class="col-sm-2 control-label" for="fname">Name</label>
      <div class="col-sm-6">
        <input id="fname"
               formControlName="fname"
               type="text"
               class="form-control">
      </div>
    </div>


    <div class="form-group" [ngClass]="{'has-error' : userInputForm.get('fdate').errors
    && (userInputForm.get('fdate').touched || userInputForm.get('fdate').dirty) }">
      <label class="col-sm-2 control-label" for="fdate">Date</label>
      <div class="col-sm-6">
        <input id="fdate"
               type="text"
               formControlName="fdate"
               class="form-control"
                bsDatepicker
               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
      </div>
    </div>
    <div class="ui-widget-content">

      <button class="ui-button ui-widget ui-corner-all"
              type="submit"
              [disabled]="userInputForm.invalid"
              [ngClass]="{'disableCss': userInputForm.invalid}"
              >
        Submit</button>
      <button class="ui-button ui-widget ui-corner-all"
              type="reset"
              [disabled]="userInputForm.get('fname').invalid"
              [ngClass]="{'disableCss': userInputForm.get('fname').invalid}"
      >
        Reset</button>
    </div>
    <span *ngIf="showSpinner" ngClass="spinner" class="spinner"></span>
  </div>
</form>
